{% extends 'base.html' %}
{% block title %}NotePad | Note{% endblock title %}
{% block content %}
<hr>
<center><h1> GENERATION DE MOTS DE PASSE </h1></center>
<hr>
<br>
<div class="container">
        <div class= "form-group">
                <table method="POST" class="post-form" >     
                        {% csrf_token %}
                        {{ form.as_table}}
                 </table>
                <br>
                        {% if element.pwd %} 
                                <button type = "submit" class="btn btn-primary btn-sl" disabled="disabled">Enregistrer</button>
                        {% else %}
                                <button type = "submit" class="btn btn-primary btn-sl" disabled="disabled"> Enregistrer</button>
                        {% endif %}
                        <button type = "submit" class="btn btn-primary btn-sl"> Générer</button>
               
        </div>


<hr>

{% for element in generation %}
<li> {{element.id}} | {{element.title}} | {{element.username}} | {{element.created_date}} </li>
{% endfor %}


{% endblock content%}