{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez saisi.
            Vous devriez les recevoir sous peu.
		  </p>
		  <p class="m-auto p-2">
		    Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit,
            et vérifiez votre dossier spam.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Retour à la page d'accueil</a></p>
	</div>
</div>

{% endblock %}