{% extends "base.html" %}

{% block title %}ToolBox | Contact{% endblock title %}
{% block content %}
<hr>
<h1><center>CONTACTEZ MOI ...</center></h1>
<hr>
<div class="container">
    <div class="card mb-3 shadow">
        <div class="card-body">
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-sm" > Envoyer</button>
            </form>
        </div>  
    </div>
</div>
{% endblock content %}
